option_settings:

  ## Load Balancer

  - namespace: aws:elb:loadbalancer
    option_name: SecurityGroups
    value: sg-0f0d066d,sg-f5787397

  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-0481cb42

  ## Load Balancer Listeners - https port 443

  - namespace: aws:elb:listener:443
    option_name: ListenerProtocol
    value: HTTPS

  - namespace: aws:elb:listener:443
    option_name: SSLCertificateId
    value: arn:aws:iam::932745601821:server-certificate/20161207_daliaresearch_com

  - namespace: aws:elb:listener:443
    option_name: InstancePort
    value: 80

  - namespace: aws:elb:listener:443
    option_name: InstanceProtocol
    value: HTTP

  ## Load Balancer Listeners - http port 80

  - namespace: aws:elb:listener:80
    option_name: ListenerEnabled
    value: true

  - namespace: aws:elb:listener:80
    option_name: InstancePort
    value: 80

  - namespace: aws:elb:listener:80
    option_name: InstanceProtocol
    value: HTTP

# Health check

Resources:
  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties:
      HealthCheck:
        Target: "HTTP:80/health"
        Timeout: 5
        Interval: 10
        UnhealthyThreshold: 5
        HealthyThreshold: 3