files:
  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.nginx.conf" :
    mode: "0644"
    owner: root
    group: root
    content: |
        /var/log/nginx/* {
        size 100M
        rotate 5
        missingok
        compress
        notifempty
        copytruncate
        dateext
        dateformat %s
        olddir /var/log/nginx/rotated
        postrotate
          service rsyslog restart
        endscript
        }

  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.webapp.conf" :
    mode: "0644"
    owner: root
    group: root
    content: |
        /var/app/containerfiles/logs/* {
        size 10M
        rotate 72
        missingok
        compress
        notifempty
        copytruncate
        dateext
        dateformat -%Y%m%d-%s
        olddir /var/app/containerfiles/logs/rotated
        }

