files:
  "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.nginx.conf" :
    mode: "0644"
    owner: root
    group: root
    content: |
        /var/log/nginx/* {
        size 100M
        rotate 5
        missingok
        compress
        notifempty
        copytruncate
        dateext
        dateformat %s
        olddir /var/log/nginx/rotated
        postrotate
          service rsyslog restart
        endscript
        }
