files:
  "/etc/yum.repos.d/rsyslog.repo" :
    mode: "0666"
    owner: root
    group: root
    content: |
        [v8-stable]
        name=Adiscon CentOS-6 - local packages for \$basearch
        baseurl=http://rpms.adiscon.com/v8-stable/epel-6/\$basearch
        enabled=1
        gpgcheck=0
        gpgkey=http://rpms.adiscon.com/RPM-GPG-KEY-Adiscon
        protect=1

  "/etc/rsyslog.d/logstash.conf" :
    mode: "0666"
    owner: root
    group: root
    content: |
        $ModLoad imfile
        $InputFileName /var/log/nginx/logstash.log
        $InputFileTag nginx-beanstalk:
        $InputFileStateFile stat-beanstalk
        $InputFileSeverity info
        $InputFileFacility local3
        $InputRunFileMonitor
        local3.* @@opsprd021.dalia.internal:5228

container_commands:
  01_remove_local3:
    command: sed -i 's/.*\/var\/log\/messages/\*.info;mail.none;authpriv.none;cron.none;local3.none                \/var\/log\/messages/g' /etc/rsyslog.conf
    leader_only: false

  02_update_rsyslog:
    command: yum -y install rsyslog-8.26.1-1.el6.x86_64 --disablerepo=amzn-main
    leader_only: false
