files:
  "/etc/nginx/nginx.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
        user nginx;
        worker_processes auto;
        error_log /var/log/nginx/error.log;
        pid /var/run/nginx.pid;

        # Load dynamic modules. See /usr/share/nginx/README.dynamic.
        include /usr/share/nginx/modules/*.conf;

        events {
            worker_connections 1024;
        }

        http {
            log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                              '$status $body_bytes_sent "$http_referer" '
                              '"$http_user_agent" "$http_x_forwarded_for"';

            log_format rsyslog "date:\"$time_iso8601\" domain:\"$host\" ip:\"$http_x_forwarded_for\" request:\"$request\" request_time:\"$request_time\" status:\"$status\" bytes:\"$body_bytes_sent\" referrer:\"$http_referer\" user_agent:\"$http_user_agent\" scheme:\"$scheme\"";

            access_log  /var/log/nginx/access.log  main;

            sendfile            on;
            tcp_nopush          on;
            tcp_nodelay         on;
            keepalive_timeout   65;
            types_hash_max_size 2048;

            include             /etc/nginx/mime.types;
            default_type        application/octet-stream;

            # Load modular configuration files from the /etc/nginx/conf.d directory.
            # See http://nginx.org/en/docs/ngx_core_module.html#include
            # for more information.
            include /etc/nginx/conf.d/*.conf;

            index   index.html index.htm;

            server {
                listen       80 ;
                listen       [::]:80 ;
                server_name  localhost;
                root         /usr/share/nginx/html;

                # Load configuration files for the default server block.
                include /etc/nginx/default.d/*.conf;

                location / {
                }

                # redirect server error pages to the static page /40x.html
                #
                error_page 404 /404.html;
                    location = /40x.html {
                }

                # redirect server error pages to the static page /50x.html
                #
                error_page 500 502 503 504 /50x.html;
                    location = /50x.html {
                }
            }
        }

  "/opt/elasticbeanstalk/support/conf/webapp_healthd.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
        upstream my_app {
          server unix:///var/run/puma/my_app.sock;
        }

        log_format healthd '$msec"$uri"'
                        '$status"$request_time"$upstream_response_time"'
                        '$http_x_forwarded_for';

        server {
          listen 80;
          server_name _ localhost; # need to listen to localhost for worker tier

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
            set $year $1;
            set $month $2;
            set $day $3;
            set $hour $4;
          }

          access_log  /var/log/nginx/access.log  main;
          access_log  /var/log/nginx/logstash.log  rsyslog;
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;

          location / {
            proxy_pass http://my_app; # match the name of upstream directive which is defined above
            proxy_set_header Host $host;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          }

          location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

          location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }
        }