files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_post_commands.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /sbin/service nginx restart
      /sbin/service rsyslog restart
      #cd /var/app/current; rake campaign_platform:graphite_deploy_signal